p{
    color: deepskyblue;
    font-size: 20px;
}
table thead tr th{
    text-align: center;
}
.panel-heading{
    background-color: #0db8c5;
    rows:3;
}
.panel-body{
    background-color: white;
}